
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>add-expenses</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
		<h1>Secure Page</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
    
    		<main>
         
          <form action= "/secure/add-expenses" method = "post"  enctype = "multipart/form-data">
           
            <p>
            <label for= "date"> Select Date</label><br />
           <input type= "date" name= "date"  value = ""> 
            </p>
                
            
            <p>
            <label for= "label">  Label </label><br />
            <input type= "text" name= "label" value = "">  
            </p>
            
            <p>
            <label for= "category"> Category</label><br />
            <input type= "text" name= "category"  value = "">  
            </p>
            
            <p>
            
            <label for= "description"> Description</label><br />
            <input type= "text" name= "descrip" value = "">  
            </p>
            
             <p>
            <label for= "amount"> Amount</label><br />
            <input type= "number" name= "amount" value = "" step = "0.01" min="0">  
            </p>
            
            <p>
            
    
            <label for = "receipt" >receipt:</label><b />
            <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
              </p>
            
            <input type="submit" value="Add">
            
            
            
            
          </form>
          
         
        
          
          
          
          
          
          
          
          
          
          
          
		</main>
    
	</body>
</html>
